@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  height: 100%;
}

#root {
  max-width: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
